@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header .header__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  position: fixed;
  top: -10%;
  padding: 3% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__item {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.header__item:hover {
  font-size: 20px;
}

.header__item:nth-child(3) {
  margin: 0 40px 0 0;
}

.header__item:nth-child(1)::after {
  padding: 0 40px 0 35px;
  content: ".";
}

.header__item:nth-child(4)::after {
  padding: 0 40px 0 35px;
  content: ".";
}

.header__back {
  width: 100%;
}

.logo {
  padding: 0 60px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.newgeneration {
  padding: 5% 15px 140px 15px;
  margin: 0 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
}

.newgeneration__content {
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newgeneration__content:hover {
  -webkit-box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
          box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
}

.newgeneration__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.newgeneration__label {
  text-align: center;
  padding: 35px 0;
}

.label {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.sublabel {
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}

.vintage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  opacity: 0.2;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.vintage__row:hover {
  padding: 0px;
  opacity: 1;
  height: 100%;
}

.no-webp .vintage__left{
  background: url("../img/rectangle_1.jpg") 0 0/cover no-repeat; }

.vintage__left {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66%;
          flex: 1 1 66.66%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.vintage__left-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
}

.vintage__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

.vintage__right:active {
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.vintage__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.vintage__content:hover {
  -webkit-box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
          box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
  background-color: #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.vintage__logo {
  padding: 70px 0 0 31px;
}

.vintage__label {
  margin: 31px 0 0 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vintage__sublabel {
  padding: 26px 50px 40px 50px;
  margin: 0 0 50px 0;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  position: relative;
}

.vintage__sublabel::after {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.no-webp .vintage__right-img{
  background: url("../img/rectangle_1.jpg") 0 0/cover no-repeat; }

.vintage__right-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 0 35% 0;
}

.logo {
  padding: 70px 0 0 31px;
}

.boriosa__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.2;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.boriosa__row:hover {
  padding: 0px;
  opacity: 1;
  height: 100%;
}

.boriosa__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .boriosa__left-img{
  background: url("../img/saddle_2.jpg") 0 0/cover no-repeat; }

.boriosa__left-img {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 0 35% 0;
}

.boriosa__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.boriosa__content:hover {
  -webkit-box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
          box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
  background-color: #000;
}

.boriosa__logo-img {
  padding: 29px 0 30px 0;
}

.boriosa__sublabel {
  padding: 26px 50px 40px 50px;
  margin: 0 0 50px 0;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  position: relative;
}

.boriosa__sublabel::after {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.no-webp .boriosa__right{
  background: url("../img/rectangle_3.jpg") 0 0/cover no-repeat; }

.boriosa__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.66%;
          flex: 1 1 66.66%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  z-index: -1;
}

.boriosa__right-img {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
}

.retro__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.2;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.retro__row:hover {
  padding: 0px;
  opacity: 1;
  height: 100%;
}

.no-webp .retro__left{
  background: url("../img/retro/left.jpg") 0 0/cover no-repeat; }

.retro__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  z-index: -1;
}

.retro__left-img {
  position: relative;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  z-index: 2;
}

.retro__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.no-webp .retro__center-img{
  background: url("../img/retro/center.jpg") 0 0/cover no-repeat; }

.retro__center-img {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 0 35% 0;
}

.retro__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.retro__content:hover {
  -webkit-box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
          box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
  background-color: #000;
}

.retro__logo {
  padding: 29px 0 30px 0;
}

.retro__sublabel {
  margin: 0 0 100px 0;
  padding: 26px 50px 40px 50px;
  margin: 0 0 50px 0;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  position: relative;
}

.no-webp .retro__right{
  background: url("../img/retro/right.jpg") 0 0/cover no-repeat; }

.retro__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.twitter {
  background-color: #f7f7f7;
  opacity: 0.5;
}

.twitter:hover {
  -webkit-transition: ease-in 1s;
  -o-transition: ease-in 1s;
  transition: ease-in 1s;
  opacity: 1;
}

.twitter__column {
  padding: 124px 15px 68px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.twitter__label {
  padding: 37px 0 27px 0;
  letter-spacing: 0.1em;
}

.twitter__label-right {
  font-weight: 300;
  color: #848789;
}

.twitter__sublabel {
  padding: 0 15px;
  max-width: 1200px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}

.twitter__pagination {
  padding: 104px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.twitter__pagination__item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: rgba(40, 47, 53, 0);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
}

.twitter__pagination__item:hover {
  background-color: #000;
}

.twitter__pagination__item:nth-child(2) {
  margin: 0 9px;
}

.twitter__pagination__item:active {
  background-color: #a9afb3;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  opacity: 0.2;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.gallery__row:hover {
  padding: 0px;
  opacity: 1;
  height: 100%;
}

.gallery__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.gallery__left-top {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.no-webp .gallery__left-top-left{
  background: url("../img/gallery/left_top_left.jpg") 0 0/cover no-repeat; }

.gallery__left-top-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.no-webp .gallery__left-top-right{
  background: url("../img/gallery/left_top_right.jpg") 0 0/cover no-repeat; }

.gallery__left-top-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .gallery__left-bottom{
  background: url("../img/gallery/left_bottom.jpg") 0 0/cover no-repeat; }

.gallery__left-bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.gallery__center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.no-webp .gallery__center-left{
  background: url("../img/gallery/center_left.jpg") 0 0/cover no-repeat; }

.gallery__center-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.no-webp .gallery__center-right{
  background: url("../img/gallery/center_right.jpg") 0 0/cover no-repeat; }

.gallery__center-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gallery__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.no-webp .gallery__right-top{
  background: url("../img/gallery/right_top.png") 0 0/cover no-repeat; }

.gallery__right-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.gallery__right-top-logo {
  position: relative;
  left: 50%;
  top: 50%;
}

.gallery__right-top-label {
  display: block;
  text-align: center;
  position: relative;
  text-align: center;
  padding: 20% 0% 20% 0%;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.no-webp .gallery__right-top-label::before{
  background: url("../img/gallery/right_top_logo.png") 0 0/cover no-repeat; }

.gallery__right-top-label::before {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -55px);
      -ms-transform: translate(50%, -55px);
          transform: translate(50%, -55px);
  content: "";
  font-size: 30px;
  color: #fff;
  width: 70px;
  z-index: 3;
  height: 40px;
}

.gallery__right-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.no-webp .gallery__right-bottom-left{
  background: url("../img/gallery/right_bottom_left.jpg") 0 0/cover no-repeat; }

.gallery__right-bottom-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 33% 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.no-webp .gallery__right-bottom-right{
  background: url("../img/gallery/right_bottom_right.jpg") 0 0/cover no-repeat; }

.gallery__right-bottom-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 0 0 33% 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.gallery__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #282f35;
}

.gallery_button {
  padding: 20px 60px;
  border: 1px solid rgba(255, 255, 255, 0.49);
  color: #ffffff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.gallery_button:hover {
  background-color: #fff;
  color: #282f35;
}

.gallery_button:active {
  background-color: grey;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__column {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input__saddle {
  padding: 36px 0;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}

.input__form-input {
  width: 400px;
  height: 69px;
  border: 1px solid #d3d7d9;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #ccc;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.input__form-input:hover {
  -webkit-box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
          box-shadow: 1px 10px 10px rgba(152, 251, 152, 0.5);
  background-color: #000;
}

.input__form-btn {
  position: relative;
  top: 1px;
  text-align: center;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition-duration: 2s;
       -o-transition-duration: 2s;
          transition-duration: 2s;
}

.input__form-btn:hover {
  background-color: #1c350b;
}

.input__form-btn:active {
  background-color: #ccc;
}

.footer {
  padding: 108px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__row {
  max-width: 1100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.footer__label p {
  color: #848789;
  font-style: italic;
}

.footer__label p:nth-child(1) {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
}

.footer__social-network {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-network a:nth-child(2) {
  padding: 0 15px;
}

.footer__social-network a:hover {
  -webkit-box-shadow: 5 1 10px palegreen;
          box-shadow: 5 1 10px palegreen;
}

.footer__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__about span {
  font-size: 13.9px;
  line-height: 17px;
  font-style: italic;
  color: #848789;
  padding: 0 9px 0 0;
}

@media screen and (min-width: 2560px) {
  .header__item {
    font-size: 30px;
  }

  .header__item:hover {
    font-size: 40px;
  }

  .label {
    font-size: 30px;
  }

  .sublabel {
    font-size: 30px;
  }

  .vintage__sublabel {
    font-size: 30px;
  }

  .boriosa__sublabel {
    font-size: 30px;
  }

  .retro__sublabel {
    font-size: 30px;
  }

  .twitter {
    font-size: 30px;
  }

  .gallery_button {
    font-size: 30px;
  }

  .input__saddle {
    font-size: 36px;
  }

  .input__form-input {
    font-size: 30px;
  }

  .input__form-btn {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .vintage__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }

  .boriosa__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }

  .retro__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .retro__center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .retro__right {
    display: none;
  }

  .twitter__column {
    padding: 50px 15px 40px 15px;
  }

  .twitter__pagination {
    padding: 40px 0 0 0;
  }

  .gallery__bottom {
    padding: 45px 0;
  }

  .input__column {
    padding: 45px 0;
  }

  .footer {
    padding: 45px 0;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: none;
    background: #444;
  }

  .header .webp .header {
    background: #444;
  }

  .header__nav {
    position: absolute;
    top: 0%;
    margin: 150px;
  }

  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  .header__item:hover {
    font-size: 30px;
  }

  .header__item:nth-child(3) {
    position: absolute;
    left: 20px;
    top: -100px;
  }

  .header__item:nth-child(1)::after {
    display: none;
  }

  .header__item:nth-child(4)::after {
    display: none;
  }

  .newgeneration {
    padding: 5% 15px 30px 15px;
  }

  .label {
    font-size: 14px;
    line-height: 1;
  }

  .sublabel {
    font-size: 14px;
  }

  .vintage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .vintage__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 20%;
  }

  .vintage__left-img {
    width: 60px;
    height: 60px;
  }

  .vintage__sublabel {
    font-size: 14px;
    padding: 20px;
  }

  .vintage__right-img {
    display: none;
  }

  .boriosa__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .boriosa__left-img {
    display: none;
  }

  .boriosa__right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    padding: 20%;
  }

  .boriosa__right-img {
    width: 25%;
    height: 12, 5%;
  }

  .retro__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .retro__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 20%;
  }

  .retro__left-img {
    width: 25%;
    height: 12, 5%;
  }

  .retro__center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .retro__center-img {
    display: none;
  }

  .gallery__right-top-label::before {
    display: none;
  }

  .input__column {
    padding: 30px 0;
  }

  .input__form-input {
    width: 200px;
    height: 40px;
  }

  .input__form-btn {
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .header .header__back {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .vintage__logo {
    padding: 20px;
  }

  .vintage__label {
    margin: 15px 0 0 0;
  }

  .boriosa__sublabel {
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 20px;
  }

  .retro__sublabel {
    font-size: 14px;
    padding: 20px;
    margin: 20px;
  }

  .input__saddle {
    font-size: 15px;
    padding: 20px 0;
  }

  .footer {
    padding: 15px 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__social-network {
    padding: 15px 0;
  }
}

.webp .vintage__left{ background: url(../img/rectangle_1.webp) 0 0/cover no-repeat; }

.webp .vintage__right-img{ background: url(../img/rectangle_1.webp) 0 0/cover no-repeat; }

.webp .boriosa__left-img{ background: url(../img/saddle_2.webp) 0 0/cover no-repeat; }

.webp .boriosa__right{ background: url(../img/rectangle_3.webp) 0 0/cover no-repeat; }

.webp .retro__left{ background: url(../img/retro/left.webp) 0 0/cover no-repeat; }

.webp .retro__center-img{ background: url(../img/retro/center.webp) 0 0/cover no-repeat; }

.webp .retro__right{ background: url(../img/retro/right.webp) 0 0/cover no-repeat; }

.webp .gallery__left-top-left{ background: url(../img/gallery/left_top_left.webp) 0 0/cover no-repeat; }

.webp .gallery__left-top-right{ background: url(../img/gallery/left_top_right.webp) 0 0/cover no-repeat; }

.webp .gallery__left-bottom{ background: url(../img/gallery/left_bottom.webp) 0 0/cover no-repeat; }

.webp .gallery__center-left{ background: url(../img/gallery/center_left.webp) 0 0/cover no-repeat; }

.webp .gallery__center-right{ background: url(../img/gallery/center_right.webp) 0 0/cover no-repeat; }

.webp .gallery__right-top{ background: url(../img/gallery/right_top.webp) 0 0/cover no-repeat; }

.webp .gallery__right-top-label::before{ background: url(../img/gallery/right_top_logo.webp) 0 0/cover no-repeat; }

.webp .gallery__right-bottom-left{ background: url(../img/gallery/right_bottom_left.webp) 0 0/cover no-repeat; }

.webp .gallery__right-bottom-right{ background: url(../img/gallery/right_bottom_right.webp) 0 0/cover no-repeat; }