@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;

0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "Open Sans", sans-serif;
}

.header {
  position: relative;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top a {
  display: block;
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 37.8px;
  line-height: 34px;
  font-weight: 600;
  color: #000000;
  margin: 5px 10px;
  padding: 10px;
  opacity: 0.6;
  border: 3.6px solid #170f1c;
  border-radius: 2px;
}

.header__top a::first-letter {
  color: #fc6744;
}

.header__burger {
  position: absolute;
  top: 5%;
  right: 5%;
}

.header__burger span {
  display: block;
  width: 34px;
  height: 4px;
  opacity: 0.6;
  background-color: #706b73;
  border-radius: 1.5px;
  margin: 4px 0;
}

.header__form {
  margin: 8% 0 0 0;
  padding: 2% 0%;
  background-color: #ffffff;
  max-width: 25%;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__form-input {
  padding: 10% 15% 2% 3%;
  font-size: 15px;
}

.header__form-input:hover {
  border-bottom: solid 1px #cacaca;
}

.header__form label {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: #474240;
}

.header__form label span {
  font-weight: 600;
  color: #ff8a6e;
}

.header__form-submit {
  display: block;
  margin: 7% 17.55% 0 17.5%;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: #ff5c36;
  border: 1px solid rgba(1, 2, 2, 0.06);
  -webkit-box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
          box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
  border-radius: 27px;
}

.container {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin: 5% 10% 0% 10%;
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0.94;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  line-height: 45px;
  font-weight: 600;
  color: #6b6b6b;
  padding: 5% 0 1.9% 0;
}

.title span {
  color: #fc6744;
}

.subtitle {
  text-justify: center;
  text-align: center;
  padding: 0 20%;
  font-size: 16px;
  line-height: 25px;
  color: #686868;
}

.block {
  padding: 2% 0 10% 0;
}

.block__title {
  padding: 0 0 1% 0;
}

.block__row {
  margin: 5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block__card-icon {
  padding: 20% 0 5% 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block__card-title {
  font-size: 20px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #e8f6ff;
}

.block__card-subtitle {
  opacity: 0.74;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 0 0 10% 0;
}

.block__card-btn {
  padding: 5% 0 0 0;
}

.block__icons {
  max-height: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block__icons img {
  height: 100%;
  width: 100%;
}

.block__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.block__text h2 {
  color: #434343;
  font-size: 30px;
  line-height: 45px;
}

.block__text p {
  padding: 1em 0;
  font-size: 16px;
  line-height: 25px;
  color: #434343;
}

.block__staff {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff5c36;
  -webkit-box-shadow: 0px 0px 2px 0px;
          box-shadow: 0px 0px 2px 0px;
  padding: 32% 0 0 0;
}

.block__staff:hover {
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  background-color: #fff3f0;
}

.block__staff:hover-characters {
  opacity: 1;
}

.block__staff-characters {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.block__staff-characters:hover {
  opacity: 1;
}

.block__staff-skills {
  text-align: center;
  font-size: 10.9px;
  line-height: 19px;
  color: #000000;
}

.block__staff-progress {
  position: relative;
  z-index: 4;
  height: 4px;
  background-color: #ff5c36;
  border-radius: 1.5px;
}

.block__staff-progress-ui {
  width: 80%;
}

.block__staff-progress-eng {
  width: 70%;
}

.block__staff-progress-comm {
  width: 75%;
}

.block__staff-progress-active {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #817f7e;
}

.block__staff-sign {
  position: absolute;
  z-index: 2;
  bottom: -10%;
  padding: 0 15%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__staff-sign h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  color: #4d4d4d;
}

.block__staff-sign p {
  font-size: 15.7px;
  line-height: 47px;
  font-weight: 300;
  color: #747474;
}

.block__staff-social {
  padding: 2% 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn,
.btn-design {
  display: inline-block;
  margin: 5% 0 0 0;
  padding: 3% 19%;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
          box-shadow: 1px 6px 14px 0px rgba(20, 20, 21, 0.09);
  border-radius: 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn span,
.btn-design span {
  display: inline-block;
  opacity: 0.8;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

.btn span::before,
.btn-design span::before {
  display: none;
  content: "+";
  font-size: 20px;
}

.btn:hover,
.btn-design:hover {
  padding: 3% 16.5%;
}

.btn:hover span::before,
.btn-design:hover span::before {
  margin: 0 20px 0 0;
  display: inline;
}

.cards {
  padding: 0 2%;
  background-color: #666;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.8%;
          flex: 0 0 23.8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-blue {
  background-color: #4eb2f7;
}

.cards-purple {
  background-color: #c049f8;
}

.cards-deep-blue {
  background-color: #817eff;
}

.cards-red {
  background-color: #f74770;
}

.gray {
  background-color: #fbfbfb;
}

.picture {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  margin-top: 1.7%;
  padding: 0 0 32% 0;
  background-color: #ff5c36;
}

.block__slide {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 17px;
  line-height: 27px;
  color: #7d7d7d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__avatar {
  width: 10%;
  padding: 10%;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.block__user-feedback {
  padding: 5% 5% 0 5%;
}

.block__stars {
  padding: 2% 0 2% 0;
}

.block__user-user {
  font-style: italic;
}

.block__user-user span {
  font-weight: 600;
}

.slide {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.no-webp .slide::before{
  background: url("../img/arrow_left.png") 0 0 no-repeat; }

.slide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 2%;
  padding: 2%;
}

.no-webp .slide::after{
  background: url("../img/arrow_right.png") 0 0 no-repeat; }

.slide::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 2%;
  padding: 2%;
}

.block__slide-nav {
  width: 10%;
  padding: 5% 0 0 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.block__slide-indicator {
  height: 7px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e0e0e0;
  border-radius: 2.5px;
}

footer .footer__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5% 10%;
  background-color: #fbfbfb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__partners img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin: 5% 0 0 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

footer .footer__contacts {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__contact {
  display: block;
  padding: 1% 3%;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin: 2% 0;
  background-color: #fdfdfd;
  border: 1px solid rgba(1, 2, 2, 0.06);
  -webkit-box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
          box-shadow: 2px 11px 20px -1px rgba(20, 20, 21, 0.07);
  border-radius: 3em;
}

footer .footer__copyrights {
  margin: 1% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__copyrights-gallery {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10% 0 0;
}

footer .footer__copyrights-gallery img {
  margin: 3%;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 50px;
  background-color: #d3d3d3;
}

footer .footer__copyrights-copyright {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 2%;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

footer .footer__copyrights-copyright p {
  padding: 1%;
}

.btn,
.btn-design {
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  -o-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
}

.picture {
  overflow: hidden;
}

.picture::before {
  background-color: yellow;
}

.header__form-submit span {
  display: inline-block;
  padding: 2% 20%;
}

.header__form-submit span::after {
  opacity: 0;
  content: "→";
}

.header__form-submit span:hover::after {
  -webkit-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  transition: linear 0.3s;
  padding: 0 0 0 20px;
  opacity: 1;
}

.picture::before {
  display: block;
  content: "";
  position: absolute;
  opacity: 0.1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__top,
.footer__contact {
  overflow: hidden;
}

.header__animated,
.footer__contact {
  display: block;
  position: relative;
  overflow: hidden;
}

.header__animated::before,
.footer__contact::before {
  display: block;
  content: "";
  position: absolute;
  opacity: 0.1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3.6px solid #170f1c;
  background-color: #000;
}

.header__animated:hover::before,
.footer__contact:hover::before {
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  -o-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  top: 0%;
}

.picture:hover::before {
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  -o-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  top: 0%;
}

.block__staff:hover {
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  -o-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
}

.block__staff:hover .block__staff-characters {
  opacity: 1;
}

@media screen and (max-width: 1080px) {
  .block__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .design {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }

  .block__watch {
    display: none;
  }

  .subtitle {
    padding: 0 5%;
  }

  .block {
    padding: 0 0 5% 0;
  }

  .block__staff-characters {
    top: 20%;
  }

  .cards {
    min-width: 200px;
    margin: 0% 0 0 0;
  }

  .picture {
    margin: 1% 1% 0 0;
  }

  .block__slide {
    min-width: 400px;
  }

  .block__staff {
    min-width: 100%;
    min-height: 140px;
  }

  .block__staff-sign {
    bottom: 0%;
  }

  .block__staff-sign h3 {
    font-size: 20px;
    margin: -5%;
  }

  .block__staff-sign p {
    font-size: 15px;
    margin: -15% 0 -15% 0;
  }
}

@media screen and (max-width: 550px) {
  .block__icons {
    display: none;
  }

  .block__staff {
    width: 100%;
  }

  .header__form {
    -ms-flex-item-align: center;
        align-self: center;
    min-width: 100%;
  }

  .container {
    font-size: 20px;
    margin: 5% 2% 0% 2%;
  }

  .block__slide {
    display: none;
  }

  #first-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 280px;
    min-width: 200px;
  }

  .subtitle {
    padding: 0% 0%;
  }

  .title {
    font-size: 30px;
    padding: 0% 0%;
  }

  .footer__copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block__user-feedback {
    max-width: 280px;
  }
}

.webp .slide::before{ background: url(../img/arrow_left.webp) 0 0 no-repeat; }

.webp .slide::after{ background: url(../img/arrow_right.webp) 0 0 no-repeat; }